@use "variable" as v;
@use "responsive" as r;


/*---------------------------------
 レイアウトの記述
---------------------------------*/
.ly-main {
    padding-top: v.$header-height;
}

.ly-pickup {
    width: 100%;
    padding: 100px 0 0 0;
    @include r.mq-max(sp) {
        padding: 80px 0 0 0;
    }
}

.ly-feature {
    padding: 100px 16px 50px 16px;
    max-width: 1240px;//1240px以下では「width: 100%;」と同じ役割を果たす。
    margin-left: auto;
    margin-right: auto;
    @include r.mq-max(sp) {
        padding: 80px 16px;
    }
    @include r.mq-min(large) {
        max-width: 1500px;
    }
}

.ly-contact {
    padding: 50px 0;
    @include r.mq-max(sp) {
        padding: 80px 0;
    }
}