@charset "UTF-8";
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/*---------------------------------
 タイポグラフィーの記述
---------------------------------*/
.ty-section-title {
  font-weight: bold;
  font-size: 2.25rem;
  margin-bottom: 30px;
  text-align: center;
}

/*---------------------------------
 ベーススタイルの記述
---------------------------------*/
body {
  color: #121212;
  font-size: 0.9rem;
  line-height: 1.7;
  font-family: "YuGothic", "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", "メイリオ", "Meiryo", "Osaka", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  max-width: 100%;
}
@media screen and (max-width: 599px) {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 599px) {
  .hidden-sp {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .hidden-sptab {
    display: none !important;
  }
}

@media screen and (min-width: 1025px) {
  .hidden-pc {
    display: none !important;
  }
}

@media screen and (min-width: 600px) {
  .hidden-tabpc {
    display: none !important;
  }
}

/*---------------------------------
 以下、自分で追加したオリジナルCSS
---------------------------------*/
/*---------------------------------
 レイアウトの記述
---------------------------------*/
.ly-main {
  padding-top: 80px;
}

.ly-pickup {
  width: 100%;
  padding: 100px 0 50px 0;
}

.ly-feature {
  padding: 100px 16px 50px 16px;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 599px) {
  .ly-feature {
    padding: 80px 16px;
  }
}

/*---------------------------------
 トップページの記述
---------------------------------*/
.header {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 10;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 599px) {
  .header {
    padding: 20px 16px;
  }
}
.header__menu-btn {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 25px;
  right: 45px;
  z-index: 20;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .header__menu-btn {
    right: 20px;
  }
}
.header__menu-btn span {
  display: block;
  background-color: #333;
  width: 30px;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header__menu-btn span:nth-of-type(1) {
  top: 4px;
}
.header__menu-btn span:nth-of-type(2) {
  top: 14px;
}
.header__menu-btn span:nth-of-type(3) {
  bottom: 4px;
}
.header__menu-btn.active span {
  background-color: #fff;
}
.header__menu-btn.active span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
          transform: translateY(10px) rotate(-315deg);
}
.header__menu-btn.active span:nth-of-type(2) {
  opacity: 0;
}
.header__menu-btn.active span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
          transform: translateY(-10px) rotate(315deg);
}
.header__gnav {
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  color: #fff;
  padding: 60px 25px;
  background-color: #121212;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 20;
  opacity: 0;
  font-size: 0.9rem;
}
.header__gnav.active {
  left: 0;
  opacity: 1;
}
.header__gnav-menu-lists {
  margin-bottom: 60px;
}
.header__gnav-menu-item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: solid 1px #fff;
}
.header__gnav-menu-item:nth-of-type(3) {
  border-bottom: solid 1px #fff;
}
.header__gnav-sns-item {
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__mask {
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header__mask.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index: 10;
  cursor: pointer;
}

.hero__video {
  display: block;
  width: 100%;
  height: calc(100vh - 80px);
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .hero__video {
    -o-object-position: 70% 0%;
       object-position: 70% 0%;
  }
}

.js-fadein {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* PICK UP > スライダー */
.slider-3 .slick-slide {
  margin: 0 60px;
  padding: 60px 0;
  position: relative;
}

.slider-3 .slick-slide .slide-img {
  width: 385px;
  height: 255px;
  -webkit-transition: all 0.6s ease 0.4s;
  transition: all 0.6s ease 0.4s;
  opacity: 0.8;
  -webkit-box-shadow: 7px 7px 15px -5px #666;
          box-shadow: 7px 7px 15px -5px #666;
  overflow: hidden;
}

.slider-3 .slick-slide.slick-current .slide-img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

.slider-3 .slick-slide .slide-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-3 .slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}

.slider-3 .slick-arrow::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #09000d;
  border-width: 3px 3px 0 0;
  position: absolute;
  top: 24px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slider-3 .slick-next {
  right: 0;
}

.slider-3 .slick-prev {
  left: 0;
}

.slider-3 .slick-next::before {
  left: 20px;
}

.slider-3 .slick-prev::before {
  border-width: 0 0 3px 3px;
  right: 22px;
}

.dots-3 .slick-dots {
  text-align: center;
}

.dots-3 .slick-dots li {
  display: inline-block;
}

.dots-3 .slick-dots button {
  display: block;
  width: 10px;
  height: 10px;
  margin: 6px;
  font-size: 0;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  background: #bcbcbc;
  border-radius: 50%;
}

.dots-3 .slick-dots .slick-active button {
  background: #0a467d;
}

/* PICK UP > スライダー　ここまで *//*# sourceMappingURL=style.css.map */